apiVersion: apps/v1
kind: Deployment
metadata:
  name: todoapp
spec:
  replicas: 1
  selector:
    matchLabels:
      app: todoapp
  strategy:
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 1
  minReadySeconds: 5 
  template:
    metadata:
      labels:
        app: todoapp
    spec:
      containers:
      - name: todoapp
        image: odl1986716.azurecr.io/todoapp:latest
        ports:
        - containerPort: 8080
        resources:
          requests:
            cpu: 250m
          limits:
            cpu: 500m
        env:
        - name: MONGODB_URI
          valueFrom:
            secretKeyRef:
              name: mongodb-secrets
              key: url
        - name: SECRET_KEY
          valueFrom:
            secretKeyRef:
              name: secret-key
              key: key

---
apiVersion: v1
kind: Service
metadata:
  name: todoapp
spec:
  type: ClusterIP
  ports:
  - name: http
    port: 80
    targetPort: 8080
  selector:
    app: todoapp
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: todo-ingress
  namespace: default
  annotations:
    kubernetes.io/ingress.class: nginx
    cert-manager.io/cluster-issuer: letsencrypt-dns01
    nginx.ingress.kubernetes.io/force-ssl-redirect: "true"
spec:
  tls:
  - hosts:
      - todo.pw-az-demo.com
    secretName: wildcard-pw-az-demo-tls
  rules:
  - host: todo.pw-az-demo.com
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: todoapp
            port:
              number: 80



