name: Deploy Infrastructure

on:
 workflow_dispatch:
   inputs:
      action:
        description: 'Create or Destroy'
        required: true
        type: choice
        options:
          - apply
          - destroy

jobs:
  deploy:
    name: ${{ inputs.action }} Infrastructure
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Run Terrascan
        id: terrascan
        uses: tenable/terrascan-action@v1.4.1
        with:
            iac_type: 'terraform'
            iac_version: 'v1.14.1'
            policy_type: 'azure'
            only_warn: true
            sarif_upload: true
            iac_dir: ./infrastructure

      - name: Upload SARIF file
        uses: github/codeql-action/upload-sarif@v1
        with:
            sarif_file: terrascan.sarif

      - name: Install Terraform
        uses: hashicorp/setup-terraform@v3.1.2
        with:
          terraform_version: 1.14.1
          cli_config_credentials_token: ${{ secrets.TF_TOKEN}}

      - run: |
          cd ${{ github.workspace }}/infrastructure
          terraform init
          terraform $ACTION --auto-approve
        env:
          ACTION: ${{ inputs.action }}
